@{
    ViewData["Title"] = "Моя первая страница";
}

<p>Скоро будем писать сайт блога!</p>
<a asp-area="" asp-controller="Home" asp-action="About">About</a>

<hr />

@ViewBag.Count
<br />
@ViewBag.Message
<br />
@ViewBag.Date.ToString("dd.MM.yyyy")
<hr />



